<!DOCTYPE html>
<html>
    <head>
        <title>Medilan Public Library</title>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="style.css">
        <script src="script.js"></script>
    </head>

    <body>
        <header>
            <div id="header_content">
                    <div id="title">
                        <h1><a href="/">Medilan Public Library District</a></h1>
                    </div>
                    <div id="sublinks">
                        <a href="/about">Learn about the Library</a>
                        <a href="/calendar">Calendar of Events</a>
                        <a href="/library_cards">Get a Library Card</a>
                        <a href="/checkouts">View your Checked Out Books</a>
                    </div>
            </div>
        </header>
        
        <% if (bookData) { %>
        <div id="search_zone">
            <div id="search_bar">
                <form method="post" action="/search">
                    <input type="text" id="search_box" name="search_query" placeholder="Search by Title, Author, or ISBN">
                    <button>Search</button>
                </form>
            </div>
            <div id="search_results">
                <ul>
                    <% for (let i in bookData) {%>
                        <section class="search_result">
                            <a href='/book?isbn=<%=bookData[i].isbn%>'>
                                <li>
                                    <img src="<%=bookData[i].isbn%>.jpg"  width="100px" onerror="this.src='https:\/\/covers.openlibrary.org/b/isbn/<%=bookData[i].isbn%>.jpg'">
                                    <section><em><%=bookData[i].title%></em><br>by&nbsp<%=bookData[i].author%></section>
                                </li>
                            </a>
                        </section>
                    <%}%>
                </ul>
            </div>
        </div>
        <% } else { %>
            <div id="search_zone" style="top:35vh;">
                <div id="search_bar">
                    <form id="search_redirect" method="post" action="/search">
                        <input type="text" id="search_box" name="search_query" placeholder="Search by Title, Author, or ISBN">
                        <button onclick='submitFunction("search_redirect")'>Search</button>
                    </form>
                </div>
            </div>
        <% } %>
   
        <footer>
            <p>Developed by Liam O'Brien | Many cover images courtesy of <a href='https://openlibrary.org/'>Open Library</a>. Blame them if they flicker and don't load.</p>
        </footer>

    </body>
</html>